# Dependencies
node_modules/
npm-debug.log*

# Android build outputs & IDE
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml

# System files
.DS_Store
Thumbs.db
*.swp
